body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
}

nav, .footer {
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    
}

a {
    text-decoration: none;
}