body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 1500px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    height: 52px;
    width: 1300px;
    align-items: center;
}

.header, .nav-links {
    margin-left: auto;
    margin-right: auto;
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
}

.list-item-text, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

nav, .footer, .hero-section {
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.hero-section {
    display: flex;
    flex: 1;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.hero-section-div {
    display: flex;
    width: 1300px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.hero-image{
    width: 300px;
    height: auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text-div {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 200px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 6px 18px;
    border: none;
}

.information-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    gap: 25px;
}

.information-img {
    width: 100px;
    height: auto;
    border: solid rgb(109, 109, 223) 4px;
    border-radius: 8px;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
    flex: 1;
}

.quote-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-main-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    flex-wrap: wrap;
}

.quote-owner {
    font-weight: bolder;
}

.call-to-action-section {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.call-to-action-div {
    background-color: #3882F6;
    height: 100px;
}

.copyright-text {
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}